/*
Workaround: The 'showon' field attribute fires faster than the canvas background image loads.
And it is possible to click the 'add field' button in the subform ahead of time.
*/
.subform-fields > .control-group {
    display: none;
}

.subform-fields > .control-group {
    flex-direction: column;
}
.subform-header.input-big,
.control-group.input-big, .control-group.input-big .controls > input {
    width: 300px;
}
.subform-header.input-medium,
.control-group.input-medium, .control-group.input-medium .controls > input, .control-group.input-medium .controls > select {
    width: 150px;
}
.subform-header.input-small,
.control-group.input-small, .control-group.input-small .controls > input {
    width: 100px;
}
.certificate-canvas-wrap {
    display: flex;
    justify-content: center;
}
