.lpath-app {
    margin-bottom: 2rem;
    min-height: 25rem;
    position: relative;
}
.lpath-app .lpath-desc {
    margin: 1.5rem 0;
}
/* action btn */
.lpath-app .lpath-action.btn {
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.6rem 1rem;
    position: relative;
    text-align: center;
    user-select: none;
}
/* steps */
.lpath-app .lpath-steps {
    margin: 1rem 0 2rem;
}
.lpath-app .lpath-steps .lpath-step {
    border-bottom: 0.0625rem solid #dfe3e7;
    padding: 0.75rem 0.75rem 1.5rem;
}
.lpath-app .lpath-steps .lpath-step.passed {
    background: #f3f3f8;
}
.lpath-app .lpath-steps .btn-step {
    display: flex;
    align-items: center;
    justify-content: right;
}
/* step */
.lpath-app .lpath-step-wrap .btn-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 3.5rem;
    border-bottom: 0.0625rem solid #dfe3e7;
    padding-bottom: 0.25rem;
}
.lpath-app .lpath-step-wrap .btn-list.bottom {
    border-bottom: 0;
    padding-bottom: 0;
    border-top: 0.0625rem solid #dfe3e7;
    justify-content: flex-end;
    padding-top: 0.25rem;
    padding-left: 1rem;
}
.lpath-app .lpath-step-wrap .btn.steps {
    margin-left: 0;
    padding: 0.4rem 1rem 0.4rem 1.5rem;
}
.lpath-app .lpath-step-wrap .btn.steps::before {
    content: '\2039'; /* HTML Entity: &lsaquo; */
    font-size: 2.5rem;
    position: absolute;
    top: -1rem;
    left: 0.25rem;
}
.lpath-app .lpath-step-wrap .btn.next {
    padding: 0.4rem 1.5rem 0.4rem 1rem;
}
.lpath-app .lpath-step-wrap .btn.next::after {
    content: '\203A'; /* HTML Entity: &rsaquo; */
    font-size: 2.5rem;
    position: absolute;
    top: -1rem;
    right: 0.25rem;
}
.lpath-app .lpath-step-wrap .animated-iframe {
    border: none;
    height: 0;
    opacity: 0;
    transition:
        height 0.4s ease,
        opacity 0.6s ease; /* smooth animation of height and transparency */
    min-height: 20rem;
    width: 100%;
}
.lpath-app .lpath-step-wrap .animated-iframe.is-visible {
    opacity: 1;
}
/* progressbar */
.lpath-app .lpath-progressbar {
    margin: 1rem 0;
    width: 100%;
}
.lpath-app .lpath-progressbar__track {
    position: relative;
    width: 100%;
    height: 0.75rem;
    background: #f0f0f0;;
    border-radius: 0.125rem;
    overflow: hidden;
}
.lpath-app .lpath-progressbar__fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #d1d5db;
    border-radius: inherit;
    transition: width 0.5s ease;
}
/* preloader */
.lpath-app .preloader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    max-height: 17.5rem;
    width: auto;
}

