.quiztools .results-list__filters .js-stools-container-filters-visible {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}
.quiztools .results-list__filters .js-stools-container-filters {
    margin-bottom: 0;
}
.quiztools .results-list__filters #filter_search::placeholder {
    font-size: 0.75rem;
}
.quiztools .results-list__table-wrapper {
    overflow-x: auto;
}
.quiztools .results-list__table {
    border: 0.0625rem solid #dfe3e7;
    margin: 2rem 0;
}
.quiztools .results-list__header {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-bottom: 0.0625rem solid #dfe3e7;
}
.quiztools .results-list__row {
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid #dfe3e7;
}
.quiztools .results-list__row:last-of-type {
    border-bottom-width: 0;
}
.quiztools .cell {
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    text-align: left;
}
.quiztools .w-3 {
    flex-basis: 3%;
    min-width: 2.75rem;
}
.quiztools .w-10 {
    flex-basis: 10%;
    min-width: 6rem;
}
.quiztools .w-15 {
    flex-basis: 15%;
    min-width: 7.25rem;
}
.quiztools .w-22 {
    flex-basis: 22%;
    min-width: 10rem;
}
.quiztools .w-37 {
    flex-basis: 37%;
    min-width: 10rem;
}
.quiztools .text-center {
    text-align: center;
}
.quiztools .results-list__icon-passed, .quiztools .results-list__icon-award {
    width: 1.5rem;
}
ul.pagination {
    overflow-x: auto; /* ? -> for cassiopeia */
}
@media (max-width: 72.5rem) {  /* 1160px */
    .quiztools .results-list__table {
        width: max-content;
    }
}
